################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SendMailThrougSendGrid/bin/Debug/netcoreapp2.0
/SendMailThrougSendGrid/obj
/SendNetMailThroughSendGrid/bin/Debug/netcoreapp2.0
/SendNetMailThroughSendGrid/obj
